.container{
  padding: 20px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
}
.container h2{
  text-align: center;
  
}
.cardList{
  flex: 1 1 300px;
  max-width: 600px;
  list-style: none;
  background-color: rgb(116, 82, 82);
  border: 1px solid #010101;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
  
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
